body {
  background-color: #121212;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

::-webkit-scrollbar {
display: none;
}

.sidebar {
  position: fixed;
  overflow: scroll;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #212121;
  transition: all .5s ease;
}
.sidebar header {
  margin-top: 18px;
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px;
  border-top: 1px;
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: fixed;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  background-color: #121212;
  border-radius: 8px;
  font-size: 35px;
  color: white;
  padding: 3px 10px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Medium';
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

p{
  font-family: 'Montserrat-Light';
  color: white;
  max-width: 80%;
  margin: auto;
  padding: 40px 0;
  font-size: 18px;
  line-height: 1.4em;
  text-align: justify;
}
.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}
#username{
  border: none;
  background-color: #f2f6ff;
  padding-left:17px;
  border-radius: 7px;
  height: 58px;
  width: 218px;
  font-size: 18px;
}
#password{
  border: none;
  background-color: #f2f6ff;
  padding-left:17px;
  border-radius: 7px;
  height: 58px;
  width: 218px;
  font-size: 18px;
}
#passwordsee{
  width: 25px;
  height: 25px;
  position: absolute;
  margin-left: -34px;
  margin-top: 17px;
  content: url("icons/eye.ico");
}
#passwordsee:checked{
  content: url("icons/closeeye.ico");
}
#buttonlogin{
  border: none;
  background-color: #3381ff;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  font-size: 15px;
  box-shadow: 0px 3px 0px 0px #1B3D8E;

}
.live{
    width: 100vw;
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}
.video{
    width: 100vw;
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}
.maintitle {
  font-family: 'Montserrat-Italic';
  opacity: 1;
  font-size: 110px;
  color: #ffbf00;
  text-align: center;
}
#changecolor:hover{
  color:blue;
}
.secondtitle {
  color: #ffa836;
  text-align: center;
}
.titleparag {
  max-width: 80%;
  margin: auto;
  padding: 40px 0;
  line-height: 1.4em;
  text-align: left;
}
#privata{
  text-align: center;
}
.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}
.menuicon {
  margin: -3px -3px -6px -3px;
  height: 38px;
}
.backicon {
  margin: -3px -3px -6px -3px;
  height: 32px;
}
.icon {
  width: 45px;
  padding: 0px 7px 0px 7px;
}

.imgincontent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 350px;
}


@font-face {
   font-family: 'Montserrat-Medium';
   src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');;
}
@font-face {
   font-family: 'Montserrat-Light';
   src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');;
}
@font-face {
   font-family: 'Montserrat-Italic';
   src: url('fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');;
}
a {
   text-decoration: none;
  color: #577eff;
 }
