/*Generali*/
body {
    background-color: #202121;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
::-webkit-scrollbar {
    display: none;
}

/*Barra di navigazione*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202121;
    position:sticky;
    top:0px;
    border-radius: 30px;
}
ul.topnav li {
    margin: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
    font-family:'Montserrat-Light';
}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 30px;
    text-decoration: none;
}
ul.topnav li a:hover {
    background-color: #61a5e6;
}
ul.topnav li a.active {
    background-color: #61a5e6;
}
ul.topnav li.right a:hover {
    background-color: #33b864;
}
ul.topnav li.right a.active {
    background-color: #33b864;
}
ul.topnav li.right {
    float: right;
    font-family:'Montserrat-Light';
}
@media screen and (max-width: 400px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/*Cookies*/
.flexcookies{
    display: flex;
    align-items:center;
    justify-content: center;
}
.cookie-container {
    position: fixed;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    align-items:center;
    font-family: 'Montserrat-Light';
    bottom: -100%;
    width: 350px;
    height:50px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(0,0,0,.87);
    color: #f5f6fa;
    padding: 10px 10px 10px 10px;;
    transition: 400ms;
}
.cookie-container.active {
    position: fixed;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    align-items:center;
    font-family: 'Montserrat-Light';
    bottom: 0;
    width: 350px;
    height:50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #262626;
    color: #f5f6fa;
    padding: 10px 10px 10px 10px;
}
#cookiescritta{
    font-family: 'Montserrat-Light';
    font-size: 17px;
}
.cookie-container a {
    color: #f5f6fa;
    font-family: 'Montserrat-Medium';
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 17px;
}
.cookie-btn {
    background-color: #262626;
    border: 0;
    color: #2ad37b;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}
.cookie-btn:hover{
    background-color: #212121;
    color: white;
}

/*Titoli e paragrafi*/
.maintitleflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.maintitle{
    font-family: 'Montserrat-Italic';
    color: #ffbf00;
    font-size: 100px;
    margin: 0;
}
.parag{
    font-family:'Montserrat-Light';
    font-size: 17px;
    margin: 30px;
    text-align: justify;
    color: white;
}

/*animazione logo*/
#logo{
    font-family: 'Montserrat-Italic';
    color: #ffbf00;
    font-size: 100px;
    margin: 0;
    transition: 200ms;
}
#logo:hover{
    text-shadow: 0px 0px 50px #ff7300;
    animation: logo 5s ease 0s 1 normal forwards;
}
@keyframes logo {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
}

/*animazione server*/
#server{
    font-family: 'Montserrat-Italic';
    color: #ffbf00;
    font-size: 100px;
    margin: 0;
    transition:100ms;
}
#server:hover{
    animation: server 1s ease 0s 1 normal forwards;
}
@keyframes server {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateY(-45px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-24px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-12px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
}

/*animazione privata*/
#privata{
    font-family: 'Montserrat-Italic';
    color: #ffbf00;
    font-size: 100px;
    margin: 0;
    transition:100ms;
}
#privata:hover{
    animation: privata 2s ease 0s 1 normal forwards;
}
@keyframes privata {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
  
    80% {
      transform: translateX(8px);
    }
  
    90% {
      transform: translateX(-8px);
    }
}

/*Log in*/
form{
    text-align: center;

}
#username{
    border: none;
    background-color: #f2f6ff;
    padding-left:17px;
    border-radius: 7px;
    height: 58px;
    width: 218px;
    font-size: 18px;
    outline: none;
}
#password{
    border: none;
    background-color: #f2f6ff;
    padding-left:17px;
    border-radius: 7px;
    height: 58px;
    width: 218px;
    font-size: 18px;
    outline: none;
}
#passwordsee{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: -34px;
    margin-top: 17px;
    content: url("icons/eye.ico");
}
#passwordsee:checked{
    content: url("icons/closeeye.ico");
}
#buttonlogin{
    border: none;
    background-color: #3381ff;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0px 3px 0px 0px #1B3D8E;  
}

/*iframe*/
.live{
    width: 95vw;
    height: 51.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}
.video{
    width: 95vw;
    height: 51.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}
.ds{
    border-radius: 25px;
    box-shadow: 0px 0px 40px -5px rgba(164,74,217,0.52);
}

/*Social*/
.social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
.icon {
    width: 45px;
    padding: 0px 7px 0px 7px;
}

/*Cose*/
hr{
    border: 1px solid #ffbf00;
    width: 80%;
    border-radius: 30px;
}

/*Fonts*/
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');;
}
 @font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');;
}
@font-face {
    font-family: 'Montserrat-Italic';
    src: url('fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');;
}