body {
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
::-webkit-scrollbar {
display: none;
}

.sidebar {
  z-index: 7;
  position: fixed;
  overflow: scroll;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #f7fbff;
  transition: all .5s ease;
}
.sidebar header {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 22px;
  color: black;
  line-height: 70px;
  text-align: center;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: black;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px;
  border-top: 1px;
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: fixed;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  background-color: #f7fdff;
  border-radius: 15px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.conteinerdrinks {
  display:flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
.card {
  box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 210px;
  margin: 8px 8px 8px 8px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
}

.imggg {
  width:100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.imgggschedule{
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  margin-top: 50px;
  margin-bottom: 25px;
  transition: .6s;
}
.imgggschedule:hover{
  max-width: 550px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.94);
}
.icondisclamer {
  position: absolute;
  height: 50px;
  margin-top: -23px;
  margin-left: -28px;
}
.container {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 20px 20px;
  padding-top:20px;
  padding-bottom:15px;
  height: 30px;
  clip-path: polygon(100% 0%,100% 100%,0% 100%,0% 0%);
  transition: .8s;
}
.container:hover {
  clip-path: polygon(100% 0%,100% 100%,0% 100%,0% 0%);
  margin-bottom: 6px;
  height: 130px;
}

h2 {
  margin: 0px 0px 0px 0px;
}

.itemdetails {
  font-family: 'Montserrat-Medium';
  color: #575d69;
  margin-top:16px;
  margin-top:16px;
  font-size: 16px;
  text-align: left;
}

.scopri {
  border: none;
  border-radius: 50px;
  outline: 0;
  margin-top: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  background-color: #42aaf5;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Medium';
  text-decoration: none;
  list-style: none;

}

p {
  font-family: 'Montserrat-Light';
  color: #575d69;
  text-align: justify;
  max-width: 80%;
  margin: auto;
  font-size: 18px;
  line-height: 1.4em;
  padding: 30px 0;
}

.ingredient {
  font-family: 'Montserrat-Light';
  max-width: 70%;
  margin: auto;
  font-size: 18px;
  line-height: 2.5em;
  list-style-type: square;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.maintitle {
  color: #6056ef;
  text-align: center;
}
.secondtitle {
  color: #6056ef;
  text-align: center;
}
.titleparag {
  max-width: 80%;
  margin: auto;
  padding: 40px 0;
  line-height: 1.4em;
  text-align: left;
}

.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}
.menuicon {
  margin: -3px -3px -6px -3px;
  height: 38px;
}
.icon {
  width: 31px;
  padding: 0px 7px 0px 7px;
}

.imgincontent {
  margin-top: 10px;
  width: 250px;
}


@font-face {
   font-family: 'Montserrat-Medium';
   src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');;
}
@font-face {
   font-family: 'Montserrat-Light';
   src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');;
}

a {
   text-decoration: none;
  color: #577eff;
 }
